.App {
  /* border: 1px solid blue; */
  text-align: center;
  margin: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: #bae1ff; */
}

main {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* iPhone6 */
@media only screen and (min-width: 321px) {
  main {
  }
}

/* iPad Mini */
@media only screen and (min-width: 415px) {
  main {
    /* margin: 0; */
  }
}

/* iPad */
@media only screen and (min-width: 601px) {
  main {
  }
}

@media only screen and (min-width: 769px) {
  main {
  }
}

@media only screen and (min-width: 993px) {
  main {
  }
}

@media only screen and (min-width: 1201px) {
  main {
  }
}