.breakfast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid black; */
}

@media only screen and (min-width: 321px) {
  .breakfast-container {
    font-size: 1.125em;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 600px) {
  .breakfast-container {
    max-width: 700px;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .breakfast-container {
    max-width: 900px;
  }
}

@media only screen and (min-width: 992px) {
  .breakfast-container {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1200px) {
  .breakfast-container {
    max-width: 1100px;
  }
}

.breakfast-category {
  flex-grow: 1;
  /* flex-basis: 45%; */
  text-decoration: none;
  color: black;
  line-height: 2;
  margin-left: 10px;
  margin-right: 10px;
  /* border: 1px solid red; */
 }

 @media only screen and (min-width: 321px) {
   .breakfast-category {
     flex-basis: 40%;
   }
 }

 @media only screen and (min-width: 415px) {
   .breakfast-category {
     flex-basis: 30%;
   }
 }

 @media only screen and (min-width: 600px) {
   .breakfast-category {
     flex-basis: auto;
   }
 }

 /* .breakfast-category:nth-child(odd) {
   text-align: right;
   padding-right: 10px;
 }

 .breakfast-category:nth-child(even) {
   text-align: left;
   padding-left: 10px;
 } */

 .lunch-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 1.125em;
   /* border-bottom: 1px solid black; */
 }

 @media only screen and (min-width: 321px) {
   .lunch-container {
     font-size: 1.125em;
     flex-direction: row;
     flex-wrap: wrap;
   }
 }

 @media only screen and (min-width: 600px) {
   .lunch-container {
     max-width: 700px;
     margin: auto;
   }
 }

 @media only screen and (min-width: 768px) {
   .lunch-container {
     max-width: 900px;
   }
 }

 @media only screen and (min-width: 992px) {
   .lunch-container {
     max-width: 1100px;
   }
 }

 @media only screen and (min-width: 1200px) {
   .lunch-container {
     max-width: 1100px;
   }
 }

 .lunch-category {
   flex-grow: 1;
   text-decoration: none;
   color: black;
   line-height: 2;
   margin-left: 10px;
   margin-right: 10px;
   /* border: 1px solid red; */
  }

  @media only screen and (min-width: 321px) {
    .lunch-category {
      flex-basis: 40%;
    }
  }

  @media only screen and (min-width: 415px) {
    .lunch-category {
      flex-basis: 25%;
    }
  }

  @media only screen and (min-width: 600px) {
    .lunch-category {
      flex-basis: auto;
    }
  }
