.breakfast-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-size: 1.25em; */
}

.breakfast-category {
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

.lunch-category {
  display: inline-block;
  margin: 10px;
}
