.menu-wrapper {
  /*border: 1px solid blue;*/
}

.item-box {
  /*border: 1px solid red;*/
  margin: 10px 20px;
  display: inline-block;
  width: 330px;
  height: 40px;
}

.item-name {
  display: inline-block;
  vertical-align: top;
  float: left;
  text-align: left;
  width: 70%;
  /*border: 1px solid green;*/
}

/*this is not needed yet*/
.item-detail {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 70%;
  /*border: 1px solid green;*/
}

.item-price {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 30%;
  /*border: 1px solid green;*/
}
