.header {
  margin-bottom: 1em;
}

@media only screen and (min-width: 321px) {
  .header {
    font-size: 1.125em;
    margin-bottom: 0.25em;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.header-each {
  margin: 10px 20px;
}
